@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --dark-blue: hsl(233, 26%, 24%);

    --very-light-gray: hsl(0, 0%, 98%);
    --semi-light-gray: #f3f4f6;
}

* {
    box-sizing: content-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    position: relative;
}

/* Global CSS */
.display-none { display: none !important; }
.text-center { text-align: center; }
/* Font weights */
.font-weight-bold { font-weight: 400; }
/* Color Text */
.text-color-primary { color: hsl(233, 25%, 36%); }
.text-color-secondary { color: #9698a6; }
/* Button */
.btn {
    padding: 1rem 1.75rem;
    border-radius: 25px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0.5rem;
}
.btn-primary {
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

/* Overlay */
.overlay.show {
    opacity: 1;
    transition: 0.5s ease;
}
.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--dark-blue), transparent);
    opacity: 0;
    transition: 0.5s ease;
    z-index: 1;
}

/* Main Container */
.container {
    margin: 0 1.5rem;
}

/* Navigation Bar */
.navbar-container {
    position: relative;
    z-index: 2;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFFFF;
    padding: 1.5rem 1rem;
}
.navbar-items {
    list-style-type: none;
    padding: 0;
    display: none;
}
.navbar-item {
    padding: 0.5rem 0;
    font-size: 18px;
}
.navbar-item a,
.navbar-item-m a {
    text-decoration: none;
    color: initial;
}
.navbar-container-m {
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}
.navbar-container-m.show {
    opacity: 1;
    transition: 0.5s ease;
}
.navbar-items-m {
    list-style-type: none;
    background-color: #FFFFFF;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 3px;
    border: 1px solid var(--very-light-gray);
}
.navbar-item-m {
    padding: 0.75rem 0;
    font-size: 18px;
    text-align: center;
}

/* Header */
.header {
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}
.header-side-background {
    position: relative;
    width: 100%;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-side-background img {
    width: 100%;
    margin-top: -5rem;
    z-index: 1;
}
.header-side-content p {
    margin-bottom: 2.75rem;
}

/* Why Choose Bank Content */
#why-choose-bank-content {
    background-color: hsl(0, 5%, 96%);
    padding: 4rem 1.5rem 2rem;
}
#why-choose-bank-content .head-content {
    margin-bottom: 2.5rem;
}
#why-choose-bank-content .feature-grid {
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    column-gap: 1rem;
}
#why-choose-bank-content .feature-grid .feature-item {
    grid-column: span 12;
    margin: 1.25rem 0;
}
#why-choose-bank-content .feature-img {
    padding: 1rem 0;
}